ddgs==9.12.1
fastapi==0.135.3
httpx==0.28.1
minio==7.2.20
numpy==2.4.4
openai==2.30.0
pgvector==0.4.2
playwright==1.58.0
pydantic==2.12.5
pypdf==6.9.2
python-dotenv==1.2.2
python_docx==1.2.0
redis==3.5.3
SQLAlchemy==2.0.49
sqlmodel==0.0.38
starlette==1.0.0
uvicorn==0.43.0
